<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="LiasseLD.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="basepath" value="\\Servfiles\GED_APP\"/>
    <add key="depot" value="D:\Datas\LiasseSalaries"/>
    <add key="cs" value="user id=app_imp_auto;password=1mpAut0;initial catalog=app_db;data source=SERVBDD"/>
    <!-- get data from view change value to "view" get data from table change to "table" -->
    <add key="watch" value="true"/>
    <!-- active log de la durée d'éxecution total -->
    <add key="watchdetail" value="true"/>
    <!-- active log de la durée d'éxecution sous tâches -->
  </appSettings>
</configuration>