<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Orias.Properties.Settings.App_Db_DevConnectionString"
            connectionString="Driver={SQL Server};server=SERVBDD;trusted_connection=Yes;app=Microsoft® Visual Studio® 2013;wsid=CIP-D0014;database=App_Db"
            providerName="System.Data.Odbc" />
        <add name="Orias.Properties.Settings.JazzProd_ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=gheh9dnl1p.database.windows.net;Persist Security Info=True;Password=A56s#f6qs!d48ezd;User ID=JazzCipresLogin@gheh9dnl1p;Initial Catalog=JazzCipresDb"
            providerName="System.Data.OleDb" />
        <add name="Orias.Properties.Settings.JazzRecette_ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=gheh9dnl1p.database.windows.net;Persist Security Info=True;Password=A56s#f6qs!d48ezd;User ID=JazzCipresLogin@gheh9dnl1p;Initial Catalog=JazzCipresDbRecette"
            providerName="System.Data.OleDb" />
        <add name="Orias.Properties.Settings.JazzPrePro_ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=gheh9dnl1p.database.windows.net;Persist Security Info=True;Password=A56s#f6qs!d48ezd;User ID=JazzCipresLogin@gheh9dnl1p;Initial Catalog=JazzCipresDbPreProd"
            providerName="System.Data.OleDb" />
        <add name="Orias.Properties.Settings.JazzKlesia_ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=gheh9dnl1p.database.windows.net;Persist Security Info=True;Password=A56s#f6qs!d48ezd;User ID=JazzCipresLogin@gheh9dnl1p;Initial Catalog=JazzKlesiaDb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Orias.Properties.Settings>
            <setting name="OriasUserAccount" serializeAs="String">
                <value>DJO3J4VD2W59OF8NCNLD</value>
            </setting>
            <setting name="Orias_fr_orias_ws_intermediarySearchService" serializeAs="String">
                <value>https://ws.orias.fr/service</value>
            </setting>
            <setting name="ConsoleExecute" serializeAs="String">
                <value>True</value>
            </setting>
        </Orias.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>