<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="FusionCarteTP.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  
  <appSettings>
    <!-- Section pour le paramétrage du service qui genère les cartes tiers payant-->
    <!-- ce service ira exploiter un modèle de carte tiers défini et 
    appliquer une superposition d'un document ayant des données afin d'obtenir la carte Tiers payant-->

    <!-- chaine de connexion pour les données base -->
    <add key="csTherefore" value="user id=zer4;password=Th3r3f0r3;initial catalog=ThereforePROD;data source=SERVTHERESQLP1"/>
    <!-- répertoire d'entrée (qui sera surveillé par le service)-->
    <add key="inputfolder" value="E:\testpdf\source\"/>
    <!-- répertoire de sortie (où le service déposera les fichiers traités)-->
    <add key="outputfolder" value="E:\testpdf\depot\"/>
    <!-- répertoire temporaire (pour les fichiers intermediaires)-->
    <add key="tempfolder" value="E:\testpdf\temp\"/>
    <!-- chemin complet vers le fichier servant de modèle-->
    <add key="model" value="E:\testpdf\model\C303.pdf"/>
    <!-- la ou les pages du modèle concernées par la superposition des fichiers en entrée-->
    <add key="modelpages" value="2"/>
    <!-- placement par axe des X de la superposition (valeurs negatives possibles)-->
    <add key="overlayx" value="4"/>
    <!-- placement par axe des Y de la superposition (valeurs negatives possibles)-->
    <add key="overlayy" value="-4"/>
  </appSettings>
</configuration>