<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="CarteTPServiceRolling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  
  <appSettings>
    <!-- Section pour le paramétrage du service qui genère les cartes tiers payant-->
    <!-- ce service ira exploiter un modèle de carte tiers défini et appliquer 
    une superposition d'un document ayant des données afin d'obtenir la carte Tiers payant-->
    <!-- chaine de connexion pour les données base -->
    <!--
    <add key="csTherefore" value="user id=zer4;password=Th3r3f0r3;initial catalog=ThereforePROD;data source=SERVTHERESQLP1"/>
    -->
    <!-- répertoire d'entrée (qui sera surveillé par le service)-->
    <!--
    <add key="inputfolder" value="E:\testpdf\source\"/>
    -->
    <!-- répertoire de sortie (où le service déposera les fichiers traités)-->
    <!--
    <add key="outputfolder" value="E:\testpdf\depot\"/>
    -->
    <!-- répertoire temporaire (pour les fichiers intermediaires)-->
    <!--
    <add key="tempfolder" value="E:\testpdf\temp\"/>
    -->
    <!-- chemin complet vers le fichier servant de modèle-->
    <!--
    <add key="model" value="E:\testpdf\model\C303.pdf"/>
    -->
    <!-- la ou les pages du modèle concernées par la superposition des fichiers en entrée-->
    <!--
    <add key="modelpages" value="2"/>
    -->
    <!-- définition des valeurs à scruter dans les fichiers pdf 
    si en mode "scan" (exemple value="scan") définir plus bas la balise xml de référence
    sinon donner les lignes (indice de base zéro) ayant une info spécifique au traitement
    à savoir "pli" "nni" et "edit" (exemple value="pli:26,nni:67,edit:68")-->
    <!--
    <add key="dataindex" value="pli:26,nni:67,edit:68"/>
    -->
    <!-- définition de la balise xml de référence lorsque dataindex=scan
    cette valeur sera gérée comme une balise ouvrante et fermante <tag></tag>-->
    <!--
    <add key="tagscan" value="CODE REGROUPEMENT"/>
    -->
    <!-- placement par axe des X de la superposition (valeurs negatives possibles)-->
    <!--
    <add key="overlayx" value="4"/>
    -->
    <!-- placement par axe des Y de la superposition (valeurs negatives possibles)-->
    <!--  
    <add key="overlayy" value="-4"/>
    -->
  
  	<add key="csBatch" value="user id=batch;password=batch;initial catalog=BATCH;data source=SERVREF01"/>
    <add key="inputfolder" value="E:\Interfaces\Content Connector\CarteTP\Depot\"/>
    <add key="outputfolder" value="E:\Interfaces\Content Connector\CarteTP\In\"/>
    <add key="tempfolder" value="E:\Interfaces\Content Connector\CarteTP\Temp\"/>
    <add key="model" value="E:\Interfaces\Content Connector\CarteTP\Modele\C303.pdf"/>
    <add key="modelpages" value="1"/>
    <add key="dataindex" value="pli:25,nni:66,edit:67,barcod:6,barcod2:1"/>
    <add key="tagscan" value="CODE REGROUPEMENT"/>
    <add key="overlayx" value="4"/>
    <add key="overlayy" value="-4"/>
  </appSettings>
  
</configuration>